<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <!-- Console Appender -->
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%-5p ~ %m%n" />
    </Console>
    <!-- Rolling File Appender -->
    <RollingFile name="RollingFile">
      <FileName>logs/application.log</FileName>
      <FilePattern>logs/application-%d{yyyy-MM-dd-hh-mm}.log.zip</FilePattern>
      <PatternLayout>
        <Pattern>%d{ddMMyy HH:mm:ss} %-5p ~ %m%n</Pattern>
      </PatternLayout>
        <Policies>
            <SizeBasedTriggeringPolicy size="10 MB"/>
        </Policies>
    </RollingFile>

  </Appenders>
  <Loggers>
    <Logger name="play" level="info" additivity="false">
<!--      <AppenderRef ref="RollingFile" />-->
      <AppenderRef ref="Console" />
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>
